/* TAB */
.tab {
    flex-shrink: 0;
    width: 180px;
    height: 330px;
    position: relative;
    background: url(https://res.cloudinary.com/du94mex28/image/upload/f_auto,q_auto/v1/icons/iatsgwlhkksdiwv1pnuv);
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    box-shadow: 9px 10px 46px -8px rgba(0,0,0,0);
  }
  .tab:hover {
      background: url(https://res.cloudinary.com/du94mex28/image/upload/f_auto,q_auto/v1/icons/ptqn2sy0qznhbjeorlix);
      transform: scale(1.05);
      transition: transform 0.3s, box-shadow 0.3s;
      box-shadow: 9px 10px 46px -8px rgba(0,0,0,0.75);
  }

@media screen and (max-width: 500px) {
    .tab:hover {
        transform: none;
    }
}